body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow-x: hidden;
    background-color: #ffcc80;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.background-emoji {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20rem;
    opacity: 0.2;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.2); }
    100% { transform: translate(-50%, -50%) scale(1); }
}

.button {
    padding: 15px 30px;
    font-size: 24px;
    background-color: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.button:hover {
    background-color: #e64a19;
}

.text-container {
    font-size: 36px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    display: inline-block;
    word-wrap: break-word; /* Для переноса длинных строк */
    text-align: center; /* Центрируем текст */
    padding: 10px;
    width: 90%; /* Ограничиваем ширину для мобильных устройств */
    margin: 0 auto; /* Центрируем элемент по горизонтали */
}

@media (max-width: 768px) {
    .text-container {
        font-size: 28px; /* Уменьшаем шрифт на мобильных */
        width: 80%; /* Увеличиваем ширину на мобильных, чтобы текст не был сужен */
    }
}

.header-text {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.show {
    opacity: 1;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3); /* Начальный размер */
        opacity: 0; /* Начальная прозрачность */
    }
    50% {
        transform: scale(1.1); /* Немного увеличиваем */
    }
    70% {
        transform: scale(0.9); /* Уменьшаем обратно */
    }
    100% {
        transform: scale(1); /* Возвращаем к нормальному размеру */
        opacity: 1; /* Устанавливаем полную видимость */
    }
}

.bounce-in {
    animation: bounceIn 1s ease-out; /* Применяем анимацию */
}
